$breakpoint: 768px
$breakpoint-md: 1024px

.grid
    display: grid
    grid-template-columns: repeat(var(--grid-cols), 1fr)
    grid-gap: 2.5rem
    margin: 3rem 0

    @media(max-width: #{$breakpoint-md})
        grid-template-columns: 100%

.card,
.infobox
    --color-card: var(--color-theme)
    box-shadow: var(--box-shadow)
    background: var(--color-bg)

.card-title,
.infobox-title,
.infobox h3
    font-weight: bold
    font-size: 1.7rem
    margin-bottom: 0.2em
    padding-top: 0 !important

.card,
.infobox
    p:last-child,
    ul:last-child,
    ol:last-child,
    table:last-child,
    img:last-child,
    figure:last-child,
    a:last-child
        margin-bottom: 0

.infobox
    border-left: 10px solid var(--color-card)
    padding: 1.75rem 2rem
    margin-bottom: 5rem !important
    margin-top: 3rem
    font-size: 0.9em
    text-align: left !important

.card
    line-height: 1.4

.card-has-color
    border-left: 10px solid var(--color-card)

.card-title
    font-size: 1.6rem

.card-content
    padding: 1.25rem
    font-size: 1.5rem
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between

    a
        display: contents

    p
        display: contents
        font-size: inherit !important

    div
        opacity: 0.8
        margin-bottom: 0
        font-size: inherit

    .card-has-image &
        height: auto

.card-footer
    font-size: 1.25rem
    color: var(--color-text-light)
    margin-top: 0.75rem

.card-image
    position: relative
    width: 100%
    height: 0
    padding-bottom: 56.25% // 16:9
    background: var(--color-subtle)

    img
        object-fit: cover

.gallery
    margin-bottom: 5rem

.gallery-item
    padding: 0.75rem
    box-shadow: var(--box-shadow)
    margin-bottom: 0 !important

.gallery-image
    position: relative
    width: 100%
    height: 0
    padding-bottom: 75% // 4:3

    img
        object-fit: cover

.gallery-caption
    font-size: 1.3rem
    color: var(--color-text-light)
    padding-top: 0.75rem
    text-align: center
